@model PoultaryForm.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FarmHouse.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FarmHouse.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalWeightLeft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalWeightLeft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
